* {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

body {
  padding: 10px;
}

h1 {
  width: 500px;
}

.h1_container {
  display: flex;
  justify-content: center;
  line-height: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

.form_principal--container {
  display: flex;
  justify-content: center;
}

.form_principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset {
  max-width: 800px;
  padding: 25px;
  margin: 20px;
  line-height: 33px;
}

table {
  border: 1px solid black;
  background-color: gainsboro;
  padding: 10px;
  margin: 20px;
}

table > td,
th,
tr {
  padding: 20px;
  text-align: center;
  

}

footer {
  margin-top: 60px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}
